################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/04/demos/ASP.NET 5.0/BethanysPieShop/BethanysPieShop/obj
/05/demos/ASP.NET  5.0/BethanysPieShop/BethanysPieShop/obj
/06/demos/ASP.NET 5.0/BethanysPieShop/BethanysPieShop/obj
/07/demos/ASP.NET 5.0/BethanysPieShop/BethanysPieShop/obj
/08/demos/ASP.NET 5.0/BethanysPieShop/BethanysPieShop/obj
/09/demos/ASP.NET 5.0/BethanysPieShop/BethanysPieShop/obj
